.container-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    text-align: left;     
}

.border {
    border-bottom: 1px solid #f1f1f1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    justify-content: center;
    margin-top: 20px;
}

img {

    max-width: 23vw;
    margin: 10px;
    transition: all 1s;
    box-shadow: 2px 2px 6px #000;
}

img:hover {
    transform: scale(1.1);
}
